<%- include("partials/header"); -%>

<div class="formBox">
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="postTitle">Title Of Post</label>
      <input type="text" class="form-control" name="postTitle" placeholder="heading">
    </div>
    <div class="form-group">
      <label for="postContent">Add Content Here</label>
      <textarea class="form-control" name="postContent" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
 </div> 

<%- include("partials/footer");%>